<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Countries</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>
<body>
  <h1>All Countries</h1>
<!--{{contxt}}-->

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Population</th>
            <th>Border</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        {% for i in contxt%}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.capital}}</td>
            <td>{{i.population}}</td>
            <td>
                <ol>
                {% for j in i.borders %}
                    <li>{{j}}</li>
                {% endfor %}
                </ol>
            </td>
            <td><img src="{{i.flag}}" height="100"></td>
        </tr>

        {% endfor %}

    </tbody>
</table>
</body>
</html>