<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <style>
    .background{
         background: url("{% static 'images/nature.jpg' %}");
         background-size: 100% 100%;
     }
    </style>

</head>
<body>
    <!--<img src="nature.jpg" alt ="not found">-->
    <div class="container-fluid">
        <div class="row background py-5">
            <div class="col-md-12 text-light my-5 py-5 text-center" style="background:rgba(0,0,0,0.5)">
                <h1>My Website</h1>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 p-5">
            <div class="p-5" style="box-shadow:0px 0px 20px black;">
                <a href="about">
                <img src="{% static 'images/profile.jpg'%}" height="300" width="100%">
                </a>
                <a href="#">
                <h4>Lorem Ipsum</h4>
                <p>
                    Lorem Ippsum it sis predeefined paragraph.it defines how the color of the tempalte is better use and it acan exist whatever you want to print.
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="p-5" style="box-shadow:0px 0px 20px black;">
                <a href="index">
                <img src="{% static 'images/profile.jpg'%}" height="300" width="100%">
                </a>
                <a href="#">
                    <h4>Lorem Ipsum</h4>
                <p>
                    Lorem Ippsum it sis predeefined paragraph.it defines how the color of the tempalte is better use and it acan exist whatever you want to print.
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="p-5" style="box-shadow:0px 0px 20px black;">
                <a href="#">
                <img src="{% static 'images/profile.jpg'%}" height="300" width="100%">
                </a>
                    <a href="#">
                        <h4>Lorem Ipsum</h4>
                <p>
                    Lorem Ippsum it sis predeefined paragraph.it defines how the color of the tempalte is better use and it acan exist whatever you want to print.
                </p>
                    </a>
            </div>
        </div>

    </div>

    </div>

</body>
</html>